.site-header {
  background: #000000bf;
  position: fixed;
  width: 100%;
  padding: 20px;
  display: flex;
  z-index: 9;

  .custom-logo {
    max-width: 50px;
  }

  nav {
    ul {
      display: flex;
      list-style: none;

      .sub-menu {
        width: 200px;
        opacity: 0;
        pointer-events: none;
        background: #222222cf;
        border-radius: 12px;
        flex-wrap: wrap;
        padding: 35px 15px 10px 20px;
        transition: all 0.3s;
        display: flex;
        position: absolute;
        top: -5px;
        left: -10px;
        z-index: 0;

        li {
          margin-bottom: 10px;
          transition: 0.3s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .menu-item-has-children {
        a:first-child {
          z-index: 2;
          position: relative;
        }

        &:hover {
          .sub-menu {
            opacity: 1;
            pointer-events: all;
          }
        }
      }

      li {
        margin-right: 30px;
        font-size: 18px;
        position: relative;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
